.news-card {
  padding-bottom: 1.5em;
}

.news-card__image img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
}

.news-card__publisher p {
  font-size: 0.8rem;
}

.news-card__title {
  margin-top: 0.2em;
  font-size: 1rem;
  font-weight: 500;
}

.news-card__summary {
  margin-top: 0.5em;
  font-size: 0.8rem;
}

.news-card__title,
.news-card__summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
